@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #93b57f;
    height: 45px;
    
}

header h1 {
    font-size: 20px;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #878787 2px 2px 2px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.box-img {
    display: flex;
    justify-content: center;
    width: 30%; 
      
}

.box-txt {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}

.box-txt span{
   color: gray;
   letter-spacing: 5px;
   text-transform: uppercase; 
}

.box-txt h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: #93b57f;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 40px;
}

.box-txt p{
    color: gray;
    font-size: 19px;
    margin-bottom: 30px;
}

.btn-hero {
    background-color: #93b57f;
    padding: 15px 25px;
    text-decoration: none;
    font-family: sans-serif;
    color:aliceblue;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
}

.btn-hero:hover{
    background: #6f895f;
    font-size: 18px;
    font-weight: bold;
}

.box-item{
    width: 25%;
    height: 300px;
    background: #b3c5a8;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
}

.box-item:hover{
    padding: 50px 20px;
    border-radius: 5px;
    transition: 0.5s all;
  
}

.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 79, 79);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: #93b57f;
    height: 50px;
    color: aliceblue;
    font-size: 15px;
}

.whats{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

@media (max-width: 1200px){
    header h1 {
        font-size: 45px;
    }

    .hero{
        flex-direction: column-reverse;
    }
    .box-txt {
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
        font-size: 15px;
    }
    .box h2 {
        font-size: 50px;

    }

    .box-txt p {
        text-align: center;
                
    }

    .box-img {
        width: 100%;
        margin-bottom: 40px;
    }

    .responsiva {
        max-width: 100%;

    }

    .box-item {
        width: 95%;
    }
    
    .especialidades {
        font-size: 10px;
        text-align: center;
        justify-content: center;
    }

    footer {
        font-size: 18px;
        text-align: center;
    }
}